---
title: "Home"
layout: default
cover: false
---

<header>
  <h1>{{ site.name }}</h1>
</header>

<hr class="stylish"/>

<p> {{ site.data.intro.content }} </p>

<main class="home-main">
  <section id="posts">
    <details {% if site.data.news.default_open %}open{% endif %}>
      <summary>
        <h3 class="home-page-heading">{{ site.data.news.title }}</h3>
      </summary>
      <div class="parent">
        {% for news in site.data.news.content %}
        <div class="post-wrapper">
          <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ news.when | date: "%m/%Y" }}</time>
          {{ news.what }}
        </div>
        {% endfor %}
      </div>
    </details>
  </section>
</main>
