<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container">
  {% include nav.html %}
  <hr class="stylish"/>
  {{ content }}
</div>
<footer>
  <hr class="stylish"/>
  {% include nav.html %}
  <div>
    <a>{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }}
  </div>
</footer>
{% if site.javascript_enabled %}
  <script src="/assets/main.js"></script>
{% endif %}
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=YI2j-DefWWwVGGqrug6QPinDCFVtm1hzVVRw_6AMT9o&co=2d78ad&ct=ffffff&cmo=3acc3a&cmn=ff5353'></script>
</body>
</html>
